@model CarSellingPlatform.ViewModels.Ads.AdVM

@{
    this.Layout = "/Views/Shared/Site.cshtml";
}

}
<div class="centered-container">
    <form action="/Ads/CreateAd" method="post" enctype="multipart/form-data">
        <div class="grid-2">
            <div class="row">
                <div class="col-1">Title</div>
                <div class="col-2">@Html.TextBoxFor(m => m.Title)</div>
                <div class="col-3">
                    @Html.ValidationMessageFor(m => m.Title)
                </div>
            </div>
            <div class="row">
                <div class="col-1">Description</div>
                <div class="col-2">
                    @Html.TextAreaFor(m => m.Description)
                </div>
                <div class="col-3">
                    @Html.ValidationMessageFor(m => m.Description)
                </div>
            </div>
            <div class="row">
                <div class="col-1">Place</div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.Place)
                </div>
                <div class="col-3">
                    @Html.ValidationMessageFor(m => m.Place)
                </div>
            </div>
            <div class="row">
                <div class="col-1">CreatedAt</div>
                <div class="col-2">
                    @Html.TextBoxFor(m => m.CreatedAt, new { @type = "datetime-local", @class = "form-control" })
                </div>
                <div class="col-3">
                    @Html.ValidationMessageFor(m => m.CreatedAt)
                </div>
            </div>
            <div class="row">
                <div class="col-1">Image file</div>
                <div class="col-2">
                    <input type="file" name="Image" />
                </div>
                <div class="col-3">
                    @Html.ValidationMessageFor(m => m.ImagePath)
                </div>
            </div>
            <div class="row">
                <div class="col-3">
                    @Html.ValidationMessage("authError")
                </div>
            </div>
            <div class="row-button">
                <div class="col-2">
                    <input type="submit" value="Continue" />
                </div>
            </div>
        </div>
    </form>
</div>
